<style type="text/css">
	.produre_box{
		width: 100%;border-top-right-radius: 40px;border-bottom-left-radius: 40px;
	}
	.image_box{
		width: 100%;height: 150px;
	}
	.image_box img{
		border-top-right-radius: 35px;border-bottom-left-radius: 35px;
	}
	.info_box{
		width: 100%;border-bottom-left-radius: 35px;
	}
	.star_box{
		width: 50%;height: 50px;
	}
	.order_box{
		width: 50%;height: 50px;
	}
	.order_button{
		width: 80%;height: 40px;background: #fb9200;border-top-left-radius: 15px;padding-left: 2rem;
	}
	.order_button i{
		color: #fff;font-size: 150%;
	}
  .scroll_event_Add_class{
    background: #fff;
  }
  .scroll_event_Add_class_text{
    color: black
  }



</style>
